:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --hero-button-color: #188ce8;
  --font-color: #2f303a;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --card-set-gap: 30px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.item {
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.nav-list .current {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Header*/

.header {
  border-bottom: 1px solid #eeeeee;
}

.navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.contact-list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.web {
  color: var(--accent-color);
}

.logo {
  margin-right: 90px;
  font-family: Raleway;
  font-style: 400;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-text-color);
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.nav-elements {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
  color: var(--primary-text-color);
  text-decoration: none;
  padding-bottom: 32px;
  padding-top: 32px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-elements:hover,
.nav-elements:focus {
  color: var(--accent-color);
}

.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-header {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  color: var(--paragraph-text-color);
  text-decoration: none;
  padding-bottom: 32px;
  padding-top: 32px;
}

.contact-header:hover,
.contact-header:focus {
  fill: var(--accent-color);
  color: var(--accent-color);
}

/* Header after */

.current::after {
  content: '' ;
}

/*Hero*/

.hero-container {
  max-width: 1600px;
}

.hero-section {
  flex-grow: 1;
  background-color: var(--font-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/background/bcg.jpg');
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  color: var(--primary-white-color);
}

.theme {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  color: inherit;
  background-color: var(--accent-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-color);
}

/*Main advantages*/

.advantages-list {
  display: flex;
  flex-direction: wrap;
  margin-left: -30px;
  align-items: center;
}

.advantages-item {
  flex-basis: calc(100% - 120px) / 4;
  margin-left: 30px;
}

.advantages {
  margin-bottom: 10px;
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-details {
  font-size: 14px;
  line-height: 2;
  color: var(--paragraph-text-color);
  text-transform: none;
}

.icon-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/*Our activity*/

.activity-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-right: -30px;
}

.activity-item {
  flex-basis: calc(100% - 90px) / 3;
  margin-left: 30px;
  margin-left: 30px;
}

.activity-section {
  padding-top: 0;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/*Our command*/

.command-section {
  background-color: #f5f4fa;
}

.coomand-list {
  display: flex;
  flex-direction: row;
  margin-left: -30px;
  margin-right: -30px;
}

.command-item {
  flex-basis: calc(100% - 120px) / 4;
  margin-left: 30px;
}

.command-card {
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-white-color);
}

.name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.profession {
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: var(--paragraph-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--paragraph-text-color);
}

.social-link:hover,
.social-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Our clients */

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--paragraph-text-color);
}

.clients-list-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/*Footer*/

.footer {
  background-color: var(--font-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.adress-footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.logo-footer {
  font-family: Raleway;
  font-style: 400;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-white-color);
  display: block;
  margin-bottom: 20px;
}

.adress {
  line-height: 2;
  color: var(--primary-white-color);
  text-decoration: none;
}

.adress-item:not(:last-child) {
  margin-bottom: 9px;
}

.adress:hover,
.adress:focus {
  color: var(--accent-color);
}
.adress {
  margin-bottom: 9px;
}

.contact-footer {
  margin-top: 10px;
  font-family: Roboto;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact-footer:hover,
.contact-footer:focus {
  color: var(--accent-color);
}

/* Footer icons */

.footer-list {
  display: flex;
}

.invitation {
  color: var(--primary-white-color);
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
}

.social-footer-item:not(:last-child) {
  margin-right: 10px;
}

.social-footer-list {
  display: flex;
}

.social-footer {
  margin-left: 70px;
  padding-top: 70px;
  padding-bottom: 100px;
}

.social-footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

/*Portfolio*/

.projects-list {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 50px;
}

.project-button {
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
}

.project-button:hover,
.project-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.projects-item:not(:last-child) {
  margin-right: 8px;
}

.our-projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.our-projects-item {
  flex-basis: calc((100% - 3 * --card-set-gap) / 3);
  margin-top: var(--card-set-gap);
  margin-left: var(--card-set-gap);
}

.our-projects-item:hover,
.our-projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-button {
  font-family: inherit;
  font-style: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: inherit;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-type {
  font-size: 16px;
  line-height: 1.8;
  color: var(--paragraph-text-color);
}

.card-content {
  padding: 20px 24px;
  border-top: none;
  border: 1px solid #eeeeee;
}

/* Thumb footer */

.thumb-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  line-height: 1.5;
  padding: 63px 24px;
  align-items: center;
  justify-content: center;
  color: var(--primary-white-color);
  opacity: 0;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.projects-thumb {
  position: relative;
  display: flex;
}

.thumb-text:hover,
.thumb-text:focus {
  opacity: 1;
  background-color: var(--accent-color);
}

/* Thumb activity */

 .activity-thumb {
  position:relative;
  display: flex;
}

.activity-title {
  position: absolute;
  width: 100%;
  height: 70px;
  text-align: center;
  justify-content: center;
  padding-top: 27px;
  padding-top: 27px;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  font-size: 14px;
} 